html, body {
  height: 100%;
}

body {
  padding-top: 30px;
}

.wide {
  width:100%;
  height:100%;
  height:calc(100% - 1px);
  background-image:url('../img/team.jpg');
  background-size:cover;

  text-align: center;
}

.jumbotron {
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: 80px;
  color: white;
}

.fa-twitter:hover {
  color: rgba(0, 172, 237, .7);
}

.fa-facebook-f:hover {
  color: rgba(59, 89, 152, .7);
}

.fa-envelope:hover {
  color: rgba(221, 75, 57, .7);
}
